<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">

<head>
    <meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>e.g. pavelka || weather</title>
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.min.css">
    <!-- SCRIPTS -->
    <!-- Google Analytics -->
    <script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-42646629-2', 'auto');
		ga('send', 'pageview');
	</script>
<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- Angular -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH_JegEmVYDzTPCNhqp2au7vt5GbZ_DTY&libraries=places"></script>
  <!-- This app -->
  <script src="app.js"></script>
</head>

<body ng-controller="weatherController" ng-init="geolocation()" ng-style="currentStatus === 'weatherReady' && {'background-image':'url(img/'+current.weather[0].icon+'.jpg)'}">

    <!-- NAVIGATION BAR -->

    <div class="navigation-bar">
        <div class="location">
                <span class="detect-location-icon"><img src="icon/detect.png" ng-click="geolocation()" title="Use current location"/></span>
                <span class="city-search">
                  <input class="selectpicker" ng-model="chosenPlace" details="chosenPlaceDetails" googleplace/>
                </span>
        </div>
        <div class="scale">
<span class="scale-select"><select class="selectpicker" ng-options="option.val as option.name for option in scaleOptions" ng-model="scale" ng-disabled="currentStatus !== 'weatherReady'">
        </select></span></div>
    </div>


<div id="page-container" class="container-fluid" ng-switch="currentStatus" ng-class="{'miniscreen' : miniscreen}">
  <!-- DISPLAY WEATHER -->
  <weather-ready ng-switch-when="weatherReady"></weather-ready>
  <loading-location ng-switch-when="loadingLocation"></loading-location>
  <geolocation-error ng-switch-when="geolocationError"></geolocation-error>
  <weather-error ng-switch-when="weatherError"></weather-error>
  </div>

</body>

</html>
