<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">

<head>
	<meta charset="UTF-8">
	<title>egpavelka || weather</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  <!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
  <script src="app.js"></script>
</head>

<body>

  <!-- navigation -->
  <!-- open/close menu -->
  <div class="navigation-button"></div>
  <!-- navigation bar -->
  <div class="navigation-menu">
    <div class="city">
      <!-- if found by geolocation -->
      <div class="city-detected-icon"></div>
    </div>
    <div class="search-city"></div>

    <div class="temp-scale" id="temp-far" onclick="setTempScale('f')">F</div>
    <div class="temp-scale" id="temp-cel" onclick="setTempScale('c')">C</div>
  </div>

	<div id="container" class="container" ng-controller="weatherController as weather">
    <!-- current conditions -->
		<div class="current">
			<div class="icon"><img ng-src="icon/{{ weather.current.weather[0].icon }}.png" /></div>
			<div class="temp">{{ weather.current.main.temp }}&deg;</div>
			<div class="cond">{{ weather.current.weather[0].description }}</div>
		</div>

    <!-- hourly forecast -->
    <div class="hourly">

      <div class="day-overview">
      <div class="day">{{ weather.daily.list[0].dt*1000 | date: 'EEEE, MMMM dd' : -0500 }}</div>
      <div class="temp">{{ weather.daily.list[0].temp.max }}&deg; / {{ weather.daily.list[0].temp.min }}&deg;</div>
      </div>

      <div class="list">
        <div class="list-entry" ng-repeat="hour in weather.hourly.list | limitTo:6">
          <div class="time">{{ hour.dt*1000 | date: 'h:mma'}}</div>
          <div class="icon"><img ng-src="icon/{{ hour.weather[0].icon }}.png" /></div>
          <div class="temp">{{ hour.main.temp }}&deg;</div>
          <div class="cond">{{ hour.weather[0].description }}</div>
        </div>

      </div>
    </div>

    <!-- 5-day forecast -->
    <div class="daily">
      <div class="list">
        <div class="list-entry" ng-repeat="day in weather.daily.list | limitTo:5">
          <div class="day">
            <div class="day-weekday">
              {{ day.dt*1000 | date: 'EEE.'}}
            </div>
            <div class="day-date">
              {{ day.dt*1000 | date: 'MMM. dd'}}
            </div>
          </div>
          <div class="icon"><img ng-src="icon/{{ day.weather[0].icon }}.png" /></div>
          <div class="temp">{{ day.temp.max }}&deg; / {{ day.temp.min }}&deg;</div>
        </div>
      </div>
  </div>

</div>
</body>

</html>
