// BASIC RESET
* {
  @include box-sizing(border-box);
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: $defaultbg;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.container-fluid { // BS
  background-color: rgba($defaultbg, .3);
  min-height: 100vh;
}
.container { //BS
  padding-bottom: 50px;
  padding-top: 120px;
}

.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-s-4 {
  padding-left: 0;
  padding-right: 0;
}

.miniscreen {
  padding-left: 0;
  padding-right: 0;

  .current {
    padding-bottom: 40px;

    .temp {
      font-size: 7rem;
    }
  }

  .day-overview,
   .daily {
    .day,
    .temp {
      font-size: 90%;
    }

    img {
      width: 30px;
    }
  }
}
