// VERTICAL - Sections
.current {
  padding-bottom: 50px;
}
.day-overview, .list-entry {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.day-overview {
  padding-bottom: 5px;
}
.list-entry {
  padding-bottom: 15px;
}

// VERTICAL - type
.hourly {
  .time {
    padding-bottom: 5px;
  }
  .temp, .cond {
    padding-top: 5px;
  }
}

.current {
  .icon {
    padding-top: 30px;
  }
  .temp {
    padding-left: 10px;
    font-weight: 300;
  }

}
