// VERTICAL - Sections
.current {
  padding-bottom: 50px;
}
.day-overview, .list-entry {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.day-overview {
  padding-bottom: 5px;
}
.list-entry {
  padding-bottom: 15px;
}

// VERTICAL - type
.temp, .cond {
  padding-top: 5px;
}
.time {
  padding-bottom: 5px;
}

// HORIZ
