.current {
  @extend %flex-v;
  .city-name {
    @extend %bottom-line;
    @extend %align-self-stretch;
    @extend %upper;
    font-size: 1.125rem;
  }
    .icon {
        img {
            height: 90px;
        }
    }

    .temp {
        font-size: 3rem;
    }
    .cond {
      font-size: 1rem;
    }
}
