.current {
  @extend %flex-v;
    .icon {
        img {
            height: 100px;
            width: 100px;
        }
    }

    .temp {
        font-size: 3rem;
    }

    .cond {
        padding-top: 10px;

    }
}
