.current {
  @extend %flex-v;
    .icon {
        img {
            height: 120px;
            width: 120px;
        }
    }

    .temp {
        font-size: 3rem;
    }

    .cond {
        //
    }
}
