.daily {

    .list {

      .list-entry {
        @extend %flex-h;
        @extend %bottom-line;
        padding: 20px 10px;
        &:last-child {
          border: none;
        }
        div {
          width: 150px;
        }
        .day {
            text-align: left;
            flex-shrink: 2;
        }

        .icon {
          flex-shrink: 1;
            img {
                height: 30px;
                width: 30px;
            }
        }
        .temp {
          text-align: right;
          .high {
              padding-right: 10px;
          }

          .low {
              color: $grey;
          }
        }

      }

    }
}
