.daily {

  .list-entry {
    @extend %flex-h; // vertical alignment
    @extend %bottom-line;
    padding: 10px;

    &:last-child {
      border: 0;
    }
  }

  .day {
    text-align: left;
  }

  .icon img {
    width: 30px;
    }

  .temp {
    text-align: right;

    .high {
      padding-right: 10px;
    }

    .low {
      color: $grey;
    }
  }
}
