.hourly {

  .day-overview {
    @extend %flex-h;
    @extend %bottom-line;
    padding: 10px;

    .high {
      padding-right: 10px;
    }

    .low {
      color: $grey;
    }
  }

  .list {
    @extend %bottom-line;
    padding-bottom: 10px;
    padding-top: 10px;

    ul {
      height: 127px;
      margin: 5px auto;
    }
  }

  .list-entry {
    display: inline-block;
    margin: auto 20px;
    width: 100px;

    .icon {
      padding: 10px 0;

      img {
        height: 35px;
      }
    }

    .time {
      font-size: 1.5rem;
    }

  }

}
