.hourly {

  .day-overview {
    @extend %flex-h;
    @extend %bottom-line;
    padding: 10px;
    .temp {
        .high {
            padding-right: 10px;
        }

        .low {
            color: $grey;
        }
    }
  }

    .list {
      @extend %bottom-line;

      .list-entry {
        width: 100px;
        margin: auto 20px;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        .icon {
          padding: 10px 0;
            img {
                width: 35px;
            }
        }
        .time {
            font-size: 1rem;
        }

      }

    }
}
