.navigation-bar {
  position: absolute;
  z-index: 100;
  background-color: rgba($dkgrey, .7);
  width: 100vw;
  padding: 10px 25px;
  @extend %flex-h;

  .location {
    .detect-location-icon img{
      width: 23px;
      margin-bottom: -7px;
      &:hover {
        cursor: pointer;
      }
    }
    .city-search {
      padding-left: 15px;
      input {
        @extend %cond;
        color: white;
        padding: 6px 10px;
        border-radius: 10px;
        background-color: rgba($grey, .3);
        border: 1px solid $dkgrey;
      }
    }
  }

  .scale {
    @extend %upper;
    font-size: .625rem;
    .scale-type {
      &:first-child {
        margin-right: 10px;
      }
      &:hover {
        cursor: pointer;
        font-size: .7rem;
      }
    }
    .active {
      font-size: .7rem;
    }
    .inactive {
      color: $grey;
    }
  }
}
