.navigation-bar {
  @extend %flex-h;
  @extend %flex-wrap-wrap;
  background-color: rgba($dkgrey, .7);
  padding: 5px 25px;
  position: absolute;
  width: 100vw;
  z-index: 100;
}

.location,
.scale {
  padding: 5px 7px;

}

.detect-location-icon {
  padding-right: 5px;

  img {
    width: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

.city-search,
.scale {

  input {
    @extend %cond;
    color: $dkgrey;
    font-size: 1.35rem;
    letter-spacing: initial;
    padding: 5px 10px;
  }
}

.selectpicker {
  @extend %upper;
  @include border-radius(10px);
  background-color: rgba($white, .6);
  color: $dkgrey;
  font-size: 1.15rem;
  height: 30px;
  padding: 4px 7px;
  }

.scale-select .selectpicker {
  margin-left: 23px;
}
