.navigation-bar {
  @extend %flex-h;
  @extend %flex-wrap-wrap;
  background-color: rgba($dkgrey, .7);
  padding: 5px 25px;
  position: absolute;
  width: 100vw;
  z-index: 100;
}

.location,
.scale {
  padding-bottom: 5px;
  padding-top: 5px;

}

.detect-location-icon img {
  width: 15px;

  &:hover {
    cursor: pointer;
  }
}

.city-search,
.scale {
  padding-left: 7px;
  padding-right: 7px;

  input {
    @extend %cond;
    font-size: 1.25rem;
    letter-spacing: initial;
    padding: 5px 10px;
  }
}

.selectpicker {
  @extend %upper;
  background-color: rgba($grey, .3);
  border-radius: 10px;
  color: $white;
  font-size: 1rem;
  padding: 4px 1px 4px 7px;
  }

.scale-select .selectpicker {
  margin-left: 23px;
}
