@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400|Merriweather:400i');

body {
  color: $white;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: .02rem;
  text-align: center;
  }

a {
  color: $white;
}

%upper {
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.cond,
%cond {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  font-style: italic;
  text-transform: capitalize;
}

.day {
  @extend %upper;
  font-size: 1.3rem;
}

.temp {
  font-size: 1.75rem;
  }
