@import url('https://fonts.googleapis.com/css?family=Catamaran:200,300,400|Merriweather:400i');

body {
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  color: white;
  }

  %upper {
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  .cond, %cond {
    font-family: 'Merriweather', serif;
    font-style: italic;
    text-transform: capitalize;
    font-size: 1rem;
  }

  .day {
    @extend %upper;
    font-size: 1.25rem;
  }

.temp {
  font-size: 1.5rem;
  }
